<template>
    <b-col sm="12" md="12">
            <b-form-group  label="Name" label-for="name" :label-cols="3">
                <b-form-input type="text" id="name"  name="name"
                    v-model="Category.name"  
                    aria-describedby="name-feedback"
                    data-vv-as="name"></b-form-input>
            </b-form-group>
            <b-form-group  label="Code" label-for="code" :label-cols="3">
                <b-form-input type="text" id="code"  name="code"
                    v-model="Category.code"  
                    aria-describedby="code-feedback"
                    data-vv-as="code"></b-form-input>
            </b-form-group>

      </b-col>
</template>

<script>
export default {
  name: 'addCategory',
  data () {
    return {
      Category: {
                    name: null,
                    code:null
        }
    }
  },
  methods: {
    click () {
      // do nothing
    }
  }
}
</script>
