<template>
<b-container>
    <b-row>
        <b-col sm="6" md="6">
            <b-form-group
                label="Category"
                label-for="categorySelect"
                :label-cols="4">
                <b-form-select id="categoryId" name="categoryId"
                    :plain="true"
                    value="Please select"
                    v-model="Item.categoryId"
                    :horizontal="true"
                    :options="categories"
                    aria-describedby="categoryId-feedback"
                    data-vv-as="category">
                </b-form-select>
            </b-form-group>

            <b-form-group  label="Name" label-for="name" :label-cols="4">
                <b-form-input type="text" id="name"  name="name"
                    v-model="Item.name"  
                    aria-describedby="name-feedback"
                    data-vv-as="name"></b-form-input>
            </b-form-group>

            <b-form-group  label="Name Search" label-for="nameSearch" :label-cols="4">
                <b-form-input type="text" id="nameSearch" name="nameSearch" data-vv-as="nameSearch" v-model="Item.nameSearch"></b-form-input>
            </b-form-group>
        </b-col>

        <b-col sm="6" md="6">
            <b-form-group
                label="Unit of Measure"
                label-for="UoMSelect"
                :label-cols="4">
                <b-form-select id="uomId" name="uomId"
                    :plain="true"
                    value="Please UoM" 
                    v-model="Item.uomId"
                    :horizontal="true"
                    v-validate="{ required: true }"
                    :options="UoMs"
                    aria-describedby="uomId-feedback"
                    data-vv-as="uomId">
                </b-form-select>
            </b-form-group>

            <b-form-group  label="Type" label-for="type" :label-cols="4">
                <b-form-input type="text" id="type" name="type" data-vv-as="type" v-model="Item.type"></b-form-input>
            </b-form-group>

            <b-form-group  label="Unit Cost" label-for="unitCost" :label-cols="4">
                <b-form-input type="text" id="unitCost" name="unitCost" data-vv-as="unitCost" v-model="Item.unitCost"></b-form-input>
            </b-form-group>

        </b-col>
    </b-row>
</b-container>
</template>

<script>
export default {
    name: 'addItem',
    data () {
        return {
            UoMs: [
                { value: null, text: "Choose..." },
                { value: "apple", text: "Apple" },
                { value: "orange", text: "Orange" }
            ],
            categories:[
                { value: null, text: "Choose..." },
                { value: "apple", text: "Apple" },
                { value: "orange", text: "Orange" }
            ],
            Item: {
                categoryId: null,
                code:null,
                name:null,
                nameSearch:null,
                uomId: null,
                type: null,
                unitCost: null
            }
        }
    },
    methods: {
        // validateState(ref) {
        //     if (
        //         this.veeFields[ref] &&
        //         (this.veeFields[ref].dirty || this.veeFields[ref].validated)
        //     ) {
        //         return !this.veeErrors.has(ref);
        //     }
        //     return null;
        // }
    }    
}
</script>
