<template>
    <b-col sm="12" md="12">
            <b-form-group  label="Name " label-for="name" :label-cols="4">
                <b-form-input type="text" id="name"  name="name"
                    v-model="UoM.name"  
                    aria-describedby="name-feedback"
                    data-vv-as="name"></b-form-input>
            </b-form-group>
    </b-col>
</template>

<script>
export default {
  name: 'addUoM',
  data () {
    return {
        // Must be an array reference!
        UoM: {
                    name: null
        }
    }
  },
  methods: {
    click () {
      // do nothing
    }
  }
}
</script>
