<template>
<div class="animated fadeIn">
<b-row>
	<b-col md="6">
			<b-button variant="success" v-b-modal.modal-tall>Add UoM</b-button>
            <b-modal id="modal-tall" title="Add new UoM" size="xm" 
              header-bg-variant="primary">
                <addUoM/>
            </b-modal>
	</b-col>
	<b-col md="6">
		<b-form-group>
            <b-input-group>
              <!-- Attach Left button -->
              <b-input-group-prepend>
                <b-button variant="primary">
                  <i class="fa fa-search"></i> Search
                </b-button>
              </b-input-group-prepend>
              <b-form-input type="text" placeholder="Search"></b-form-input>
            </b-input-group>
        </b-form-group>
	</b-col>
</b-row>
<b-row>
	<b-col md="12">
  <b-card :header="caption">
    <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" 
    responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
      <template slot="status" slot-scope="data">
        <b-badge :variant="getBadge(data.item.blocked)">{{getBadge(data.item.blocked)}}</b-badge>
      </template> 
    </b-table>
    <nav>
      <b-pagination :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
    </nav>
    
  </b-card>
	</b-col>
</b-row>
</div>
</template>

<script>
    import axios from 'axios'
    import addUoM from './addUoM.vue'
    export default {
        name: 'items',
        components: {
          addUoM
        },
        props: {
        caption: {
            type: String,
            default: 'Table'
        },
        hover: {
            type: Boolean,
            default: false
        },
        striped: {
            type: Boolean,
            default: false
        },
        bordered: {
            type: Boolean,
            default: false
        },
        small: {
            type: Boolean,
            default: false
        },
        fixed: {
            type: Boolean,
            default: false
        }
        },
        data: () => {
        return {
            fields: [
            {
                key: 'id',
                label: 'Seq',
                sortable: true
            },
            {
                key: 'name',
                label: 'Name',
                sortable: true
            },
            {
                key: 'blocked',
                label: 'Block',
                sortable: true
            },
            ],
            currentPage: 1,
            perPage: 5,
            totalRows: 0,
            items:[]
        }
        },
        async asyncData (){
            const res=await axios.get('http://localhost:8080/stock/api/UoMs')
            console.log(res.data);
            return { items: res.data }
        },
        methods: {
        getRowCount (items) {
            return items.length
        },
        getBadge (status) {
            return status === 'false' ? 'Active': 'Blocked'
        }
        //   getUoM (items) {
        //     var obj = JSON.parse(items);
        //     console.log(obj.UoM);
        //     return items;
        //   }
        }
    }
</script>

