<template>
  <div>
    <c-table fixed bordered caption="Bordered Table"></c-table>
  </div>
</template>

<script>
    import cTable from '../base/table.vue'
    import axios from 'axios'
    export default {
        name: 'items',
        components: {cTable},
        data: () => {
      return {
        fields: [
          {
            key: 'id',
            label: 'Seq',
            sortable: true
          },
          {
            key: 'itemCategory.name',
            label: 'Category',
            sortable: true
          },
          {
            key: 'name',
            label: 'Name',
            sortable: true
          },
		{
            key: 'uoM.name',
            label: 'Unit of Measure',
            sortable: true
          },
		{
            key: 'type',
            label: 'Type',
            sortable: true
          },
          {
            key: 'blocked',
            label: 'Block',
            sortable: true
          },
        ],
        currentPage: 1,
        perPage: 5,
        totalRows: 0,
        items:[]
      }
    },
    async asyncData (){
        const res=await axios.get('http://localhost:8080/stock/api/UoMs')
        console.log(res.data);

        return { items: res.data }
    }
    }
</script>

