<template>
<b-container>
    <b-row>
        <b-col sm="6" md="6">
            <b-form-group  label="Name" label-for="name" :label-cols="4">
                <b-form-input type="text" id="name"  name="name"
                    v-model="Customer.name"  
                    aria-describedby="name-feedback"
                    data-vv-as="name"></b-form-input>
            </b-form-group>

            <b-form-group  label="Name Search" label-for="nameSearch" :label-cols="4">
                <b-form-input type="text" id="nameSearch" name="nameSearch" data-vv-as="nameSearch" v-model="Customer.nameSearch"></b-form-input>
            </b-form-group>

            <b-form-group  label="Phone" label-for="phone" :label-cols="4">
                <b-form-input type="text" id="phone" name="phone" data-vv-as="phone" v-model="Customer.phone"></b-form-input>
            </b-form-group>

            <b-form-group  label="Name Contact" label-for="nameContact" :label-cols="4">
                <b-form-input type="text" id="nameContact" name="nameContact" data-vv-as="nameContact" v-model="Customer.nameContact"></b-form-input>
            </b-form-group>

            <b-form-group  label="Phone Contact" label-for="phoneContact" :label-cols="4">
                <b-form-input type="text" id="phoneContact" name="phoneContact" data-vv-as="phoneContact" v-model="Customer.phoneContact"></b-form-input>
            </b-form-group>

            <b-form-group  label="Email Contact" label-for="emailContact" :label-cols="4">
                <b-form-input type="email" id="emailContact" name="emailContact" data-vv-as="emailContact" v-model="Customer.emailContact"></b-form-input>
            </b-form-group>           
        </b-col>

        <b-col sm="6" md="6">
            <b-form-group  label="Address" label-for="address" :label-cols="4">
                <b-form-input type="text" id="address" name="address" data-vv-as="address" v-model="Customer.address"></b-form-input>
            </b-form-group>

            <b-form-group  label="Type" label-for="type" :label-cols="4">
                <b-form-input type="text" id="type" name="type" data-vv-as="type" v-model="Customer.type"></b-form-input>
            </b-form-group>

            <b-form-group  label="Group" label-for="group" :label-cols="4">
                <b-form-input type="text" id="group" name="group" data-vv-as="group" v-model="Customer.group"></b-form-input>
            </b-form-group>

            <b-form-group  label="GST Code" label-for="GSTCode" :label-cols="4">
                <b-form-input type="text" id="GSTCode" name="GSTCode" data-vv-as="GSTCode" v-model="Customer.GSTCode"></b-form-input>
            </b-form-group>

            <b-form-group  label="GST Posting group" label-for="GSTPostingGroup" :label-cols="4">
                <b-form-input type="text" id="GSTPostingGroup" name="GSTPostingGroup" data-vv-as="GSTPostingGroup" v-model="Customer.GSTPostingGroup"></b-form-input>
            </b-form-group>

            <b-form-group  label="Payment Terms Code" label-for="paymentTermsCode" :label-cols="4">
                <b-form-input type="text" id="paymentTermsCode" name="paymentTermsCode" data-vv-as="paymentTermsCode" v-model="Customer.paymentTermsCode"></b-form-input>
            </b-form-group>
        </b-col>
    </b-row>
</b-container>
</template>

<script>
export default {
    name: 'addCustomer',
    data () {
        return {
            Customer: {
                name: null,
                nameSearch:null,
                nameContact:null,
                phoneContact:null,
                emailContact: null,
                phone: null,
                address: null,
                type:null,
                group:null,
                GSTCode: null,
                GSTPostingGroup: null,
                paymentTermCode: null
            }
        }
    },
    methods: {
        // validateState(ref) {
        //     if (
        //         this.veeFields[ref] &&
        //         (this.veeFields[ref].dirty || this.veeFields[ref].validated)
        //     ) {
        //         return !this.veeErrors.has(ref);
        //     }
        //     return null;
        // }
    }    
}
</script>
